#app {
  background-color: #166e78
}
.quiz-body {
  display: flex;
}

.quiz {
  margin-left: 5%;
  margin-top: 5%;
}

.left-menu {
  background-color: #0d4d54;
}
.support-btn {
  background-image: url("./EmailIcon.png");
  background-repeat: no-repeat;
}

.mood {
  display: inline;
}

.version {
  display: flex;
}

.version-text {
  margin-left: 2%;
  width: 50%;
}

.version-text h4 {
  font-size: large;
  color: white;
  margin-bottom: 5px;
  font-family: Arial, Helvetica, sans-serif
}

.version-text-note {
  font-size: small;
  color: hsla(0,0%,100%,.6);
  font-family: Arial, Helvetica, sans-serif
}

.version-text-note > strong {
  color: #2ce6ce;
}

.statements {
  color:white;
  font-family: Arial, Helvetica, sans-serif
}

.statements h4 {
  font-size: large;
}

.statement {
  color:#757575;
  margin-bottom: 4%;
  width: 60%;
}

.dv-star-rating {
  background-color: 	#e3e3e3;
  border-radius: 25px;
    border: 2px solid #c3c3c3;
    padding: 5px;
  margin-left: 5%;
}

.dv-star-rating-star {
  margin-left: 35px;
  margin-right: 35px;
  font-size: x-large;
  color: lightgray;
}

.feedback {
  margin-bottom: 4%;
  width: 60%;
}

.feedback h4 {
  color: #fff;
  font-size: small;
  font-family: Helvetica Neue,Helvetica,Arial,Lucida Grande,sans-serif;
}

.circle {
  color: #fff;
  font-size: x-small;
  width: 60px;
  height: 60px;
  background-color: #0d4d54;
  border-radius: 50%;
  text-align: center;
  vertical-align: middle;
  font-family: Helvetica, Arial, sans-serif
}

#submit-btn {
  margin-top: 2%;
}

#submit-page {
  margin-top: 30%;
}
